[submodule "server/credentials"]
	path = server/credentials
	url = git@github.com:juggler-boryo/credentials.git
[submodule "hub/credentials"]
	path = hub/credentials
	url = git@github.com:juggler-boryo/credentials.git
